apiVersion: v1
kind: Secret
metadata:
  name: my-secret
type: Opaque
data:
  USERNAME: dXRzaGFi   # base64 for 'utshab'
  PASSWORD: cGFzc3dvcmQ=   # base64 for 'password'

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
        - name: my-container
          image: nginx
          envFrom:
            - secretRef:
                name: my-secret

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: secret-mount
spec:
  replicas: 1
  selector:
    matchLabels:
      app: secret-mount
  template:
    metadata:
      labels:
        app: secret-mount
    spec:
      containers:
        - name: my-container
          image: nginx
          envFrom:
            - secretRef:
                name: my-secret
          volumeMounts:
            - name: my-secret-volume
              mountPath: /tmp/secret-data
              subPath: secret-file
              readOnly: true

      volumes:
        - name: my-secret-volume
          secret:
            secretName: my-secret
  